<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tech-blogs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ techBlog && techBlog.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col>
				<h1>{{ techBlog && techBlog.title }}</h1>
				<ion-text>
					<div [innerHTML]='techBlog && techBlog.content'></div>
				</ion-text>
        <app-comment [comments]="techBlog && techBlog.comments" articleType="TechBlog" [articleId]="techBlog && techBlog.id"></app-comment>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>