<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tech-blogs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ techBlog && techBlog.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col>
				<h1>{{ techBlog && techBlog.title }}</h1>
        <div class='article_header'>
          <div class='text-grey'>发布于：  {{ techBlog && techBlog.created_at}}</div>
          <div class='user_linke'>
            <ion-icon name="heart" *ngIf='techBlog && techBlog.favorite_id!=null' (click)='unstarDemand()'></ion-icon>
            <ion-icon name="heart-empty" *ngIf='techBlog && techBlog.favorite_id==null' (click)='starDemand()'></ion-icon>
          </div>
        </div>
				<ion-text>
					<div [innerHTML]='techBlog && techBlog.content'></div>
				</ion-text>
        <app-comment [comments]="techBlog && techBlog.comments" articleType="TechBlog" [articleId]="techBlog && techBlog.id"></app-comment>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>