<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/activities"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ demand && demand.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col>
				<h1>{{ demand && demand.title }}</h1>
				<ion-text>
					<div [innerHTML]='demand && demand.content' class="article-content"></div>
				</ion-text>
        <app-comment [comments]="techBlog && techBlog.comments" articleType="TechBlog" [articleId]="techBlog && techBlog.id"></app-comment>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
