<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Demand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col routerLink='./{{demand.id}}' size="12" size-md="6" *ngFor="let demand of demands">
          <ion-card class="demand-card">
            <ion-card-header>
              <ion-item no-padding detail="false" lines="none">
                <ion-avatar slot="start">
                  <img [src]="demand.user_avatar" alt="user avatar">
                </ion-avatar>
                <ion-label>
                  <h2>{{ demand.user_name }}</h2>
                  <p>{{ demand.created_at }}</p>
                </ion-label>
              </ion-item>
              <ion-card-title>{{ demand.title }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div [innerHTML]='demand.brief'></div>
            </ion-card-content>

            <ion-card-content>
              <ion-chip *ngFor="let tag of demand.tag_list" color="secondary">
                <ion-label>
                  <ion-icon name="pin"></ion-icon>
                  {{ tag }}
                </ion-label>
              </ion-chip>
            </ion-card-content>

            <ion-row class="ion-no-padding ion-justify-content-center">
              <ion-col size="4" class="ion-text-left">
                <ion-button fill="clear" size="small" color="primary">
                  <ion-icon name="eye" slot="start"></ion-icon>
                  {{ demand.impressionist_count }}
                </ion-button>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <ion-button fill="clear" size="small" color="primary">
                  <ion-icon name="heart" slot="start"></ion-icon>
                  {{ demand.favorites_count }}
                </ion-button>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <ion-button fill="clear" size="small" color="primary">
                  <ion-icon name="chatboxes" slot="start"></ion-icon>
                  {{ demand.comments.length }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
