<ion-tabs>
  <ion-tab-bar slot="bottom" id="myTabBar">
    <ion-tab-button tab="demands">
      <ion-icon name="filing"></ion-icon>
      <ion-label>需求</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="speakers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="weather">
      <ion-icon name="map"></ion-icon>
      <ion-label>Weather</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="activities">
      <ion-icon name="gift"></ion-icon>
      <ion-label>活动</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tech-blogs">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>加速器</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon name="contact"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
