<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>活动</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="timeline">
      <div *ngFor="let activity of activities" class="timeline-item">
      	<span class="timeline-time">07-18</span>
      	<div class="timeline-body">
	        <div class="timelin-circle"></div>
	        <div class="timeline-content" routerLink='./{{activity.id}}'>
	          <h4>{{ activity.title }}</h4>
	          <p>{{ activity.brief }}</p>
	          <div class="timeline-stats">
	            <i class="fa fa-heart"></i> 已报名
	            <span class="pos-absolute-right"><i class="fa fa-clock"></i> 2 mins ago</span>
	          </div>
	        </div>
      	</div>
      </div>
    </div>
  </ion-list>
</ion-content>
