ion-list-header {
	border-left: 3px solid orange;
	background: #ffd4d4;
}

ion-item {
	vertical-align: top;
}

.bubble{
    display: inline-block;
    width: 100%;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.comment_message {
	font-size: 14px;
}