<ion-list no-lines>
  <ion-list-header>
    最新评论({{ comments && comments.length}})
  </ion-list-header>

  <ion-item *ngFor="let comment of comments" text-wrap>
    <ion-avatar slot="start">
      <img src="{{comment.avatar_url}}">
    </ion-avatar>
    <div class="bubble">
      <h6 style="color: mediumvioletred;">{{comment.user_name}}</h6>
      <div class="comment_message">{{comment.message}}</div>
      <p><small>{{comment.created_at}}</small></p>
    </div>
  </ion-item>
</ion-list>

<div style="display: flex; position: fixed; bottom: 0;width: 100%; background: white;">
  <ion-input [(ngModel)]="newmessage" placeholder="Write your message ..." style=""></ion-input>
  <ion-buttons end>
    <button ion-button (click)="addgroupmsg()" style="background: white; font-size: 26px;margin-right: 15px;">
      <ion-icon name="send" color="primary"></ion-icon>
    </button>
  </ion-buttons>
</div>